/*Globales-------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@font-face {
  font-family: CircularSTD;
  src: url("/Assets/Fonts/circularstd-book.otf");
}
:root {
  --black: #575656;
  --blue: #a5c8d3;
  --rosa: #fd7392;
  --soft-white: #fbf7ee;
  --soft-black: #b1aeae;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: CircularSTD;
  font-size: 48px;
  width: 500px;
  color: var(--black);
}
h2 {
  font-family: CircularSTD;
  width: 500px;
  font-size: 36px;
  color: var(--black);
}
.description {
  font-family: "Hind", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  width: 400px;
}
/*Navigation Bar-------------------------------------------------------------------------*/
#navbar {
  display: flex;
  font-family: "Hind", sans-serif;
  font-size: 18;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.logo {
  margin-left: 60px;
  width: 100%;
}
#Grupo_1 {
  width: 120px;
  height: auto;
}
#Caminho_1:hover,
#Caminho_2:hover,
#Caminho_3:hover,
#Caminho_4:hover {
  fill: var(--blue);
  transition: 5ms ease-in-out;
}
ul {
  display: flex;
  margin-right: 60px;
}
li,
a {
  list-style: none;
  text-decoration: none;
  padding: 0 14px;
  color: var(--black);
  cursor: pointer;
}
li:hover {
  font-weight: bold;
}
@media (max-width: 600px) {
  #navbar {
    display: block;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
  }
  .logo {
    margin: 0;
  }
  ul {
    margin: 0;
    display: block;
    text-align: center;
    padding: 14px 0;
  }
  li {
    margin: 8px 0;
  }
}
/*Hero Section-------------------------------------------------------------------------*/
#hero {
  display: flex;
  padding-top: 120px;
  margin: auto;
  align-items: center;
}
#herocontent {
  width: 500px;
  margin-right: 80px;
}
.btn {
  border-radius: 40px;
  padding: 16px 48px;
  font-size: 16px;
  color: var(--soft-white);
  background-color: var(--rosa);
  border: 0;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--blue);
  transition: 5ms ease-in-out;
}
#heroimage {
  width: 120%;
  margin-right: 60px;
  margin-left: 80px;
}
.image {
  width: 100%;
  margin: auto;
}
.flip {
  transform: scaleX(-1);
}
@media (max-width: 900px) {
  #hero {
    display: block;
    text-align: center;
    padding: 0px 20px;
    width: 600px;
  }
  #herocontent {
    margin: 0;
    width: 600px;
  }
  h1 {
    width: 600px;
    font-size: 40px;
  }
  .description {
    width: 600px;
  }
  .image {
    width: 100%;
  }
  #heroimage {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  #hero {
    display: block;
    text-align: center;
    padding: 0px 20px;
    width: 400px;
  }
  #herocontent {
    margin: 0;
    width: 400px;
  }
  h1 {
    width: 400px;
    font-size: 40px;
  }
  .description {
    width: 400px;
    font-size: 16px;
  }
  .image {
    width: 400px;
  }
  #heroimage {
    width: 400px;
  }
}
/*Product Section-------------------------------------------------------------------------*/
#product {
  display: flex;
  flex-direction: column;
  margin: 100px 80px;
}
#social {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
#producto {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.illustration {
  width: 700px;
}
@media (max-width: 900px) {
  #product {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 120px;
    overflow: hidden;
  }
  #social {
    display: flex;
    flex-direction: column-reverse;
  }
  #producto {
    display: flex;
    flex-direction: column;
  }
  h2 {
    width: 600px;
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  #product {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 120px;
  }
  #social {
    display: flex;
    flex-direction: column-reverse;
  }
  #producto {
    display: flex;
    flex-direction: column;
  }
  h2 {
    width: 400px;
    font-size: 28px;
    margin: auto;
  }
  .illustration {
    margin: auto;
    width: 100%;
  }
  .image {
    width: 400px;
    margin: auto;
  }
}
